@theme {

  --color-neutral-50: #f4f5f6; /* foreground */
  --color-neutral-100: #eeeff0;
  --color-neutral-200: #d8dcdf;

  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a; /* background */


  --color-bull-50: #ecfdf4;
  --color-bull-100: #d2f9e3;
  --color-bull-200: #a8f2cd;
  --color-bull-300: #70e5b2;
  --color-bull-400: #40d397; /* bull base */
  --color-bull-500: #12b779;
  --color-bull-600: #079462;
  --color-bull-700: #067651;
  --color-bull-800: #075e41;
  --color-bull-900: #074d38;
  --color-bull-950: #032b20;


  --color-bear-50: #fef4f2;
  --color-bear-100: #fee7e2;
  --color-bear-200: #ffd3c9;
  --color-bear-300: #fdb4a4;
  --color-bear-400: #fa9078; /* bear base */
  --color-bear-500: #f16242;
  --color-bear-600: #de4624;
  --color-bear-700: #bb381a;
  --color-bear-800: #9b3119;
  --color-bear-900: #802e1c;
  --color-bear-950: #461409;


  --color-background: var(--color-neutral-950);
  --color-foreground: var(--color-neutral-50);

  --color-bear: var(--color-bear-400);
  --color-bull: var(--color-bull-400);

}