@import "tailwindcss";
/* @import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap'); */

@import "./colors.css";

/* :root {
  --background: #0a0a0a;
  --foreground: #f4f5f6;

  --red: #fa9078;
  --green: #40d397;

  --font-default: "Sour Gummy", sans-serif;
} */

/* .exports {
  --color-red: var(--color-red);
  --color-green: var(--color-green);
  --color-background: var(--color-background);
  --color-foreground: var(--color-foreground);
} */

body {
  background: var(--color-background);
  color: var(--color-foreground);
  /* font-family: var(--font-default); */
}

@theme inline {

  /* --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-red: var(--red);
  --color-green: var(--green); */

  /** @dev needed for tooltip */
  --color-primary: var(--foreground);
  --color-primary-foreground: var(--background);
  
  /* --font-default: var(--font-default); */

  /* --font-default: "Sour Gummy", sans-serif; */
}
